<!DOCTYPE html>
<html lang="en">
<head>

    <title>TOPAC</title>
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">

    <link rel="icon"
      type="image/png"
      href="./static/img/icon.png">
    </head>
</head>

<body class="application">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="./static/img/icon.png" id='title_icon' alt="TOPAC" width="20">TOPAC | {{ version }}</a>
          </div>
        </div>
    </div>


    <script src="./static/lib/js/jquery.min.js"></script>
    <script src="./static/lib/js/bootstrap.min.js"></script>
    <script src="./static/lib/js/queue.js"></script>
    <script src="./static/lib/js/keen.min.js"></script>

</body>
</html>